<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
<body>
  <main>
    <div class="container-main">
      <img src="/images/login/Login_Background.png" alt="">
      <div class="login-form">
        <div class="logo-long">
        </div>
        <h1>
          Welcome, Admin BCR
        </h1>
        <div class="d-flex flex-column">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control">
        </div>
        <div class="d-flex flex-column">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
        <a href="/dashboard" class="sign-in-button">Sign In</a>
      </div>
    </div>
  </main>
</body>
</html>